* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* FONTS  */
/* Manrope font -- variable */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
/* font-family: 'Manrope', sans-serif;  */

:root {
    --white: #fff;
    --aqua: #0ED2CB;
    --gray: #ebebeb;
    --darkgray: #575756;
    --darkmode: #333333;
    --coral: #f75e25;

    --headtext: 'Manrope', sans-serif;
    --bodytext: 'Quicksand', sans-serif;
}

html {
    font-size: 100%;
    overflow-x: hidden;
    font-family: var(--bodytext);
    background: var(--white);
}



/* STICKY MENU  */

body>section {
    padding: 1rem 0;
    text-align: center;
    color: var(--white);
    width: 100vw;
    background: var(--aqua);
    position: sticky;
    top: 0;
    z-index: 1;

}

body>section>img {
    height: 2.5rem;
    width: 2.5rem;
    position: absolute;
    top: .75rem;
    left: 5%;
    z-index: 2;
}


/* NAVIGATION   */

body>header {
    background: var(--aqua);
}

nav {
    position: fixed;
    overflow-y: scroll;
    width: 100vw;
    height: 100vh;
    margin-left: -100vw;
    background: var(--aqua);
    /* transition: margin .5s cubic-bezier(.38, -0.14, .76, 1.25); */
    transition: margin .75s cubic-bezier(.69, -0.69, .48, 1.63);
    box-shadow: 0px 12px 10px -7px #8C8C8C;
}

.showMenu {
    margin-left: 0;
    transition: margin .6s cubic-bezier(.69, -0.69, .48, 1.63);
}

nav>ul:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 2rem;
    width: min(60rem, 90%);
    margin: 0 auto;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: var(--white);
}

nav>ul>li {
    margin: 1rem 0 0 0;
    padding: 1rem 0 0 0;
    font-weight: 800;
    color: var(--white);
    font-size: 100%;
}

nav>ul>li:first-child {
    /* margin: 5rem 0 0 0; */
}

nav>ul>li:nth-child(4) a {
    background: var(--coral);
    border-radius: .3rem;
    padding: .5rem .75rem;
    align-items: baseline;
    font-weight: 400;
    font-size: 90%;
    transition: all .5s ease;
}

.triangle,
.triangleUX {
    display: inline-block;
    margin-left: .5rem;
    align-items: center;
    width: 0;
    height: 0;
    border-left: .4rem solid transparent;
    border-right: .4rem solid transparent;
    border-bottom: .6rem solid var(--white);
    transform-origin: center;
    transform: rotate(.5turn);
    transition: transform .75s ease;
}

.turn.triangle,
.turn.triangleUX {
    transform: rotate(0turn);
}

/* SUB NAVIGATION   */
nav>ul>li ul {
    position: absolute;
    left: -100vw;
    opacity: 0;
    transition: all .75s ease;
}

.active {
    position: initial;
    opacity: 1;
}

nav>ul>li ul>li {
    font-weight: 300;
    padding: .5rem 0 0 1rem;
    list-style: none;

}

nav>ul>li ul>li:first-child {
    padding-top: 1.5rem;
}



/* Main header  */

main>section>header {
    margin: 2rem 0;
}

main section header h1 {
    font-size: 1.7em;
    color: var(--aqua);
    text-align: center;
}

/* CONTENT  */
section {
    width: min(60rem, 90%);
    margin: 0 auto;
}

section article img,
section>header img {
    width: 100%;
}

article h2 {
    margin-top: 4rem;
    margin-bottom: .5rem;
    color: var(--darkmode);
    font-size: 1.4em;
}

article h3 {
    font-size: 1.15em;
    margin-top: 1rem;
    margin-bottom: .5rem;
}


article {
    margin: 1rem 0;
}

article p {
    margin-bottom: 1rem;
}

.ofjSection {
    width: 100%;
}

.ofjSection h2 {
    background: var(--coral);
    color: var(--white);
    text-align: center;
    padding: 1rem 0;
    margin-top: 5rem;
}

.ofjSection article {
    width: min(60rem, 90%);
    margin: 0 auto;
}

/* MEDIA QUERIES  */

@media all and (min-width: 50rem) {
    body>section {
        display: none;

    }

    body>section>img {
        display: none;
    }


    nav {
        margin: 0;
        position: relative;
        width: 100vw;
        box-shadow: none;
    }

    nav>ul:first-child {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: min(60rem, 90%);
        background: var(--aqua);
        padding-bottom: 0;
        transition: all .5s ease;
    }

    nav>ul>li {
        margin: 0;
        padding: 1rem 1rem;
        font-size: 100%;
        position: relative;
        z-index: 3;
    }

    nav>ul>li:first-child {
        margin: 0;
    }

    li>ul.drop-menu {
        position: absolute;
        width: 100%;
        padding: 0 1rem;
        z-index: -1;
        left: 0;
        background: var(--aqua);
        border-radius: 0 0 .5rem .5rem;
        list-style: none;
        opacity: 0;
        transition: all .5s ease;
    }


    li:nth-child(3)>ul {
        width: 120%;
    }

    ul.drop-menu li {
        padding: .75rem 0 .25rem 0rem;
    }

    ul.drop-menu li:last-child {
        margin-bottom: 2rem;
    }

    ul.drop-menu li a {
        font-size: 100%;
    }

    ul.drop-menu li {
        border-bottom: 1px solid var(--aqua);
        transition: all .25s ease;
    }


    /* HOVER  */
    li:hover>ul.drop-menu {
        opacity: 1;
    }

    nav a:focus {
        border-bottom: 1px solid var(--coral);
        outline: none;
    }

    header nav>ul li:focus-within a+ul {
        opacity: 1;
    }

    /* FOCUS CONTACT BUTTON NAV -- DOESNT WORK YET  */
    nav>ul>li:nth-child(4) a:focus {
        outline: dashed 2px var(--coral);
    }


    ul.drop-menu li:hover {
        border-bottom: 1px solid var(--coral);
        transition: all .25s ease;
    }

    nav>ul>li ul>li:first-child {
        margin-top: 1.5rem;
        padding-top: .5rem;
    }

    /* contact button hover  */
    nav>ul>li:nth-child(4) a:hover {
        background: white;
        color: var(--coral);
    }



}