* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* FONTS  */
/* Manrope font -- variable */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
/* font-family: 'Manrope', sans-serif;  */

:root {
  --white: #fff;
  --aqua: #0ed2cb;
  --gray: #ebebeb;
  --darkgray: #575756;
  --darkmode: #333333;
  --coral: #f75e25;

  --headtext: "Manrope", sans-serif;
  --bodytext: "Quicksand", sans-serif;
}

html {
  font-size: 100%;
  overflow-x: hidden;
  font-family: var(--bodytext);
  background: var(--white);
}

/* STICKY MENU  */

body > section {
  padding: 1rem 0;
  text-align: center;
  color: var(--white);
  width: 100vw;
  background: var(--aqua);
  position: sticky;
  top: 0;
  z-index: 1;
}

body > section > img {
  height: 2.5rem;
  width: 2.5rem;
  position: absolute;
  top: 0.75rem;
  left: 5%;
  z-index: 2;
}

/* TRIANGLES  */
.triangle,
.triangleUX {
  display: inline-block;
  margin-left: 0.5rem;
  align-items: center;
  width: 0;
  height: 0;
  border-left: 0.4rem solid transparent;
  border-right: 0.4rem solid transparent;
  border-bottom: 0.6rem solid var(--white);
  transform-origin: center;
  transform: rotate(0.5turn);
  transition: transform 0.75s ease;
}

.turn.triangle,
.turn.triangleUX {
  transform: rotate(0turn);
}

/* NAVIGATION  */
nav {
  position: fixed;
  overflow-y: scroll;
  width: 100vw;
  height: min(100vh, 100%);
  background: var(--aqua);
  transform: translateX(-100vw);
  /* transition: transform .75s cubic-bezier(); */
}

.hideMenu {
  animation-name: bounce;
  animation-timing-function: cubic-bezier(0.69, -0.69, 0.48, 1.63);
  animation-fill-mode: both;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

.showMenu {
  animation-name: bounceBack;
  animation-timing-function: cubic-bezier(0.69, -0.69, 0.48, 1.63);
  animation-fill-mode: both;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-direction: reverse;
}

nav > ul:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 2rem;
  width: min(60rem, 90%);
  margin: 0 auto;
  list-style: none;
}

nav a {
  text-decoration: none;
  color: var(--white);
}

nav > ul > li {
  margin: 1rem 0 0 0;
  padding: 1rem 0 0 0;
  font-weight: 800;
  color: var(--white);
  font-size: 100%;
}

nav > ul > li:nth-child(4) {
  margin-top: 2rem;
  padding-bottom: 5rem;
}

nav > ul > li:nth-child(4) a {
  background: var(--coral);
  border-radius: 0.3rem;
  padding: 0.5rem 0.75rem;
  font-weight: 400;
  font-size: 90%;
  transition: all 0.5s ease;
}

/* SUB NAVIGATION   */
nav > ul > li ul {
  position: absolute;
  left: -100vw;
  opacity: 0;
  transition: all 0.75s ease;
}

.active {
  position: initial;
  opacity: 1;
}

nav > ul > li ul > li {
  font-weight: 400;
  padding: 0.5rem 0 0 1rem;
  list-style: none;
}

nav > ul > li ul > li:first-child {
  padding-top: 1rem;
}

/* Main header  */

main > section > header {
  width: min(40rem, 90%);
  margin: 2rem auto;
}

main section header h1 {
  font-size: 1.7em;
  color: var(--aqua);
  text-align: center;
}

/* CONTENT  */
section {
  width: 100%;
  margin: 0 auto;
}

section > header img {
  width: 100%;
  /* max-height: 10rem; */
  margin: 2rem auto;
  display: block;
}

.highHeaderImage {
  max-height: 10rem;
}

section article img {
  width: 100%;
}

article h2 {
  margin-top: 4rem;
  margin-bottom: 0.5rem;
  color: var(--darkmode);
  font-size: 1.6em;
}

article h3 {
  font-size: 1.4em;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

article {
  margin: 1rem 0;
}

article p {
  margin-bottom: 1rem;
  margin-bottom: 1rem;
  font-size: 1.15rem;
  line-height: 1.7rem;
}

main section h2 {
  color: var(--darkmode);
  text-align: left;
  padding: 1rem 0;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

main section article {
  width: min(40rem, 90%);
  margin: 0 auto;
}

article.highlightArticle {
  display: block;
  margin-top: 5rem;
}

article.highlightArticle h2 {
  background: var(--coral);
  color: var(--white);
  /* padding-left: 1rem; */
  text-align: center;
}

.highlightArticle.hipper img {
  width: 80%;
  display: block;
  margin: 1rem auto 2rem auto;
  border-radius: 1rem;
  border: 3px solid #333333;
}

.highlightArticle.hipper img.static {
  width: 100%;
  border: none;
  border-radius: 0;
}

section article:last-child {
  padding-bottom: 4rem;
}

section article {
  /* padding-bottom: 2rem; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.download-btn {
  text-decoration: none;
  color: var(--white);
  background: var(--coral);
  padding: 1rem 2rem;
  border-radius: 0.3rem;
  margin-top: 1.5rem;
  box-shadow: 0px 0px 13px -1px #8c8c8c;
  transition: all 0.5s ease;
}

.download-btn:hover {
  background: var(--white);
  color: var(--coral);
}

/* OUTDOOR FOR YOU LOGO  */
.st0 {
  fill: #ec621c;
}

.st1 {
  fill: #ffffff;
}

.st2 {
  fill: #878787;
}

/* BUDDIFY  */
.buddify img {
  margin-top: 2.5rem;
  margin-bottom: 0.5rem;
}

/* articles */
code {
  background: #ebebeb;
  display: block;
  border-radius: 0.3rem;
  padding: 0.2rem 0.3rem;
  margin: 0.5rem 0;
  /* font-family: monospace; */
  font-size: 0.8rem;
}
code.inline {
  display: inline-block;
  margin: 0;
  padding: 0 0.3rem;
}
code.indent {
  padding: 0;
  padding-left: 1.5rem;
  margin: 0;
}
blockquote {
  border-left: 0.4rem solid #ebebeb;
  display: block;
  margin-left: 0.5rem;
  padding-left: 1.5rem;
}

pre {
  /* display: block; */
  background: #ebebeb;
  font-size: 100%;
  border-radius: 0.2rem;
  padding: 0.2rem;
  font-family: var(--bodytext);
}

/* MEDIA QUERIES  */

@media all and (min-width: 50rem) {
  body > section,
  body > section > img {
    display: none;
  }

  nav {
    position: absolute;
    top: 0;
    margin: 0;
    transform: translateX(0);
    overflow-y: initial;
    position: relative;
    width: 100vw;
    box-shadow: none;
  }

  nav > ul:first-child {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: min(60rem, 90%);
    background: var(--aqua);
    padding-bottom: 0;
    transition: all 0.5s ease;
  }

  nav > ul > li {
    margin: 0;
    padding: 1rem 1rem;
    font-size: 100%;
    position: relative;
    z-index: 3;
  }

  nav > ul > li:first-child {
    margin: 0;
  }

  nav > ul > li:nth-child(4) {
    margin-top: 0;
    padding: 1rem 1rem;
  }

  li > ul.drop-menu {
    position: absolute;
    z-index: -1;
    top: 3rem;
    left: 0;

    width: 100%;
    padding: 0 1rem;
    opacity: 0;

    background: var(--aqua);
    border-radius: 0 0 0.5rem 0.5rem;
    list-style: none;
    transition: all 0.75s ease;
  }

  li:nth-child(3) > ul {
    width: 120%;
  }

  ul.drop-menu li {
    padding: 0.75rem 0 0.25rem 0rem;
  }

  ul.drop-menu li:last-child {
    margin-bottom: 2rem;
  }

  ul.drop-menu li a {
    font-size: 100%;
  }

  ul.drop-menu li {
    border-bottom: 1px solid var(--aqua);
    transition: all 0.25s ease;
  }

  /* HOVER  */
  /* li:hover>ul.drop-menu {
        opacity: 1;
    } */

  li > ul.drop-menu.showSubMenu {
    opacity: 1;
  }

  nav a:focus {
    border-bottom: 1px solid var(--coral);
    outline: none;
  }

  nav a:hover {
    border-bottom: 1px solid var(--coral);
    transition: all 0.25s ease;
  }

  header nav > ul li:focus-within a + div + ul {
    opacity: 1;
  }

  nav > ul > li:nth-child(4) a:focus {
    outline: dashed;
  }

  nav > ul > li ul > li:first-child {
    margin-top: 1.5rem;
    padding-top: 0.5rem;
  }

  /* contact button hover  */
  nav > ul > li:nth-child(4) a:hover {
    background: white;
    color: var(--coral);
    border: none;
  }

  .highlightArticle.hipper img {
    width: 50%;
  }
}

/* ANIMATIONS  */
@keyframes bounce {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100vw);
  }
}

@keyframes bounceBack {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100vw);
  }
}
