* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FONTS  */
@font-face {
    font-family: "IBM Plex Sans Roman";
    src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/85648/IBMPlexSansVar-Roman.ttf");
}

/* Manrope font -- variable */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
/* font-family: 'Manrope', sans-serif;  */

:root {
    --white: #fff;
    --aqua: #0ED2CB;
    --gray: #ebebeb;

    --headtext: 'Manrope', sans-serif;
    --bodytext: 'Quicksand', sans-serif;
}

html {
    font-size: 100%;
    overflow-x: hidden;
    font-family: var(--bodytext);
}

body {
    height: 400vh;
}


h1,
h2 {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
}

/* HEADER  */
body>header h2 {
    font-family: 'Dancing Script', cursive;
}

body>header {
    height: 100vh;
    width: 100vw;
    background: var(--aqua);
}

body>header::after {
    content: '';
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;

    opacity: 0.25;
    z-index: 1;

    /* background-image: url(../images/header-image1.jpg); */
    background-image: url(../images/alpinisme3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

body>header>div {
    height: 100vh;
    border: 1px solid var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* RESOURCE VARIABLE TEXT: https://codepen.io/michellebarker/pen/bPEWGK  */

body>header h1 {
    font-weight: 100;
    font-variation-settings: 'wght'100, 'wdth'85;
    font-size: clamp(5rem, 10vw, 15rem);
    font-family: "IBM Plex Sans Roman", Times;
    color: var(--white);
    z-index: 2;
}

body>header h2 {
    font-size: clamp(2.5rem, 4vw, 6rem);
    color: var(--white);
    z-index: 2;
}

h1 .char {
    --delay: calc((var(--char-index) + 1) * 400ms);
    animation: breathe 5.5s infinite both;
    transform-origin: center center;
    animation-delay: calc(var(--delay) - 2s);
}

h1:hover span {
    animation-play-state: paused;
}

body>header>div>a {
    text-decoration: none;
    color: var(--white);
    margin: 3rem 0 0 0;
    background: coral;
    padding: 1rem 2rem;
    border-radius: .3rem;
    z-index: 3;
    font-family: var(--bodytext);
    font-weight: 400;
    /* border: 2px solid coral; */
    box-shadow: 0px 0px 13px -1px #8C8C8C;
}

body>header>div>a:hover {
    background: var(--white);
    color: coral;
    /* border: 2px solid coral; */
}


/* ABOUT ME  */
main section:first-child {
    background: var(--gray);
}

main section:first-child div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: min(70rem, 90%);
    margin: 0 auto;
}

main section:first-child article {
    margin: 3rem 0;
}

main section:first-child article:first-child {
    width: min(35rem, 90%);
}

main section:first-child h2 {
    line-height: 1.5rem;
    font-weight: 400;
}

main section:first-child article:first-child p {
    line-height: 1.5rem;
    padding-top: 1rem;
}

main section:first-child span {
    padding-right: 0.3rem;
}

main section:first-child article:nth-child(2) {
    height: 23rem;
    width: 23rem;
    border-radius: 50% 50% 0% 40% / 50% 50% 0% 50%;
    background: coral;
    display: flex;
    align-items: center;
    padding: 0 2rem;
    position: relative;
}

main section:first-child article:nth-child(2) img {
    width: 95%;
    position: absolute;
    bottom: 0;
    right: -1rem;
}


/* PROJECTS  */

main section:nth-child(even) {
    width: min(70rem, 90%);
    margin: 4rem auto 4rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    justify-items: stretch;
    column-gap: 1rem;
    row-gap: 1rem;
}

section:nth-child(even) h2 {
    /* font-size: clamp(2.5rem, 4vw, 6rem); */
    padding: 1rem 0;
    background: coral;
    color: var(--white);
}

section:nth-child(even)>header {
    grid-column: 1 / -1;
    text-align: center;
}

section:nth-child(even) article {
    height: 15rem;
    background: var(--aqua);
    position: relative;
    z-index: 0;
    overflow: hidden;
    border: 2px solid var(--aqua);
}

section:nth-child(even) article img {
    position: absolute;
    /* width: 100%; */
    width: 100%;
    display: flex;
    align-items: center;
    transform-origin: center;
    transition: all 0.5s cubic-bezier(.51, -0.51, .77, 1.24);
    margin: auto;
}

section:nth-child(even) article h3 {
    padding-bottom: 1.5rem;
    font-size: clamp(1.1rem, 1.5vw, 1.2rem);
    white-space: nowrap;
    /* FIX THIS LINE GOES OVER 2 LINES */
}

.project-wrap {
    background: coral;
    padding: 2rem;
    position: absolute;
}

.projectCard {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    color: black;
    opacity: .8;
    align-items: center;
    clip-path: inset(80% 0% 0%);
    transition: all 0.5s cubic-bezier(.51, -0.51, .77, 1.24);
}

.projectCard-text {
    padding: 2rem;
    padding-top: 12.5rem;
    color: black;
    opacity: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    clip-path: inset(80% 0% 0%);
    z-index: 3;

    transition: all 0.5s cubic-bezier(.51, -0.51, .77, 1.24);
}

section:nth-child(even) article:hover .projectCard-text {
    opacity: 1;
    padding-top: 2rem;
    clip-path: inset(0% 0% 0%);
}

section:nth-child(even) article:hover .projectCard {
    opacity: .94;
    clip-path: inset(0% 0% 0%);
}


/* SKILLS  */
section:nth-child(2n+3) {
    width: 100vw;
    background: var(--gray);
}

section:nth-child(2n+3)>div {
    width: min(70rem, 90%);
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
}

section:nth-child(2n+3) h2 {
    text-align: center;
    padding: 2rem 0 0 0;
}

section:nth-child(2n+3) article {
    width: 6rem;
    margin: 1rem;
    /* background: yellow; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section:nth-child(2n+3) article div {
    width: 5rem;
    height: 5rem;
    margin: 2rem 0;
    border: 2px solid coral;
    border-radius: 50%;
}


/* FOOTER  */
footer {
    width: 100vw;
    height: 100vh;
    background: var(--aqua);
    margin-top: 4rem;
}

/* FORM  */

/* ANIMATIONS  */
@keyframes breathe {
    0% {
        font-variation-settings: 'wght'100, 'wdth'85;
        /* font-size: clamp(5rem, 10vw, 15rem); */
    }

    30% {
        font-variation-settings: 'wght'700, 'wdth'85;
        /* font-size: clamp(5.5rem, 11vw, 17rem); */
    }

    100% {
        font-variation-settings: 'wght'100, 'wdth'85;
        /* font-size: clamp(5rem, 10vw, 15rem); */
    }
}




/* DARK MODE  */
@media screen and (prefers-color-scheme: dark) {}