* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FONTS  */
@font-face {
    font-family: "IBM Plex Sans Roman";
    src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/85648/IBMPlexSansVar-Roman.ttf");
}


:root {
    --white: #fff;
    --aqua: #0ED2CB;
    --gray: #ebebeb;

    --bodytext: 'Quicksand', sans-serif;
}

html {
    font-size: 100%;
    overflow-x: hidden;
}

body {
    height: 400vh;
}

h1,
h2 {
    font-family: 'Dancing Script', cursive;
}

/* HEADER  */
body>header {
    height: 100vh;
    width: 100vw;
    background: var(--aqua);
}

body>header::after {
    content: '';
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;

    opacity: 0.2;
    z-index: 1;

    /* background-image: url(../images/header-image1.jpg); */
    background-image: url(../images/alpinisme3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

body>header>div {
    height: 100vh;
    border: 1px solid var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* RESOURCE VARIABLE TEXT: https://codepen.io/michellebarker/pen/bPEWGK  */

body>header h1 {
    font-weight: 100;
    font-variation-settings: 'wght'100, 'wdth'85;
    font-size: clamp(5rem, 10vw, 15rem);
    font-family: "IBM Plex Sans Roman", Times;
    color: var(--white);
    z-index: 2;
}

body>header h2 {
    font-size: clamp(2.5rem, 4vw, 6rem);
    color: var(--white);
    z-index: 2;
}

h1 .char {
    --delay: calc((var(--char-index) + 1) * 400ms);
    animation: breathe 5.5s infinite both;
    transform-origin: center center;
    animation-delay: calc(var(--delay) - 2s);
}

h1:hover span {
    animation-play-state: paused;
}

body>header>div>a {
    text-decoration: none;
    color: var(--white);
    margin: 3rem 0 0 0;
    background: coral;
    padding: 1rem 2rem;
    border-radius: .3rem;
    z-index: 3;
    font-family: var(--bodytext);
    font-weight: 400;
    /* border: 2px solid coral; */
    box-shadow: 0px 0px 13px -1px #8C8C8C;
}

body>header>div>a:hover {
    background: var(--white);
    color: coral;
    /* border: 2px solid coral; */
}


/* ABOUT ME  */
main section:first-child {
    height: 50vh;
    background: var(--gray);
}

main section:first-child h2 {
    font-family: serif;
}

main section:first-child article {
    height: 40vh;
    width: 40vh;
    border-radius: 47% 53% 70% 30% / 30% 30% 70% 70%;
    background: coral;
}


/* PROJECTS  */

main section:nth-child(2) {
    width: min(70rem, 90%);
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    justify-items: stretch;
    column-gap: 1rem;
    row-gap: 1rem;
}

section:nth-child(2) h2 {
    font-size: clamp(2.5rem, 4vw, 6rem);
    padding: 1rem 0;
    background: coral;
}

section:nth-child(2)>header {
    grid-column: 1 / -1;
    text-align: center;
}

section:nth-child(2) article {
    height: 15rem;
    background: var(--gray);
    padding: 2rem;
}

section:nth-child(2) article:hover {
    background: var(--aqua);
}

/* ANIMATIONS  */
@keyframes breathe {
    0% {
        font-variation-settings: 'wght'100, 'wdth'85;
        /* font-size: clamp(5rem, 10vw, 15rem); */
    }

    30% {
        font-variation-settings: 'wght'700, 'wdth'85;
        /* font-size: clamp(5.5rem, 11vw, 17rem); */
    }

    100% {
        font-variation-settings: 'wght'100, 'wdth'85;
        /* font-size: clamp(5rem, 10vw, 15rem); */
    }
}




/* DARK MODE  */
@media screen and (prefers-color-scheme: dark) {}